* 
	margin: 0 
	padding: 0 
	box-sizing: border-box 
body 
	height: 100vh 
	background: radial-gradient(circle, skyblue, steelblue) 
	display: flex 
	justify-content: center 
	align-items: center 
.calculator 
	display: flex
	flex-direction: column
	justify-content: space-around
	align-items: center
	width: 320px 
	height: 480px 
	background: #eee 
	border-radius: 5px 
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), -2px -2px 3px rgba(0, 0, 0, 0.2) 
	input
		width: 250px
		height: 40px
		font-size: 30px
		text-align: center
		border-radius: 40%
		background-color: #fff
		border: 0px
		transition: 0.3s
		&:hover
			background-color: #fff0f0
		&:focus
			border-radius: 0%
	.operators
		display: flex
		flex-direction: column
		align-items: center
		width: 300px
		.buttons
			margin-top: 10px
			button
				cursor: pointer
				width: 25px
				height: 25px
				margin-left: 20px
				background-color: #0080ff55
				font-size: 15px
				color: #ff0000
				transition: 0.5s	
				&:hover
					font-size: 20px
					width: 50px
					height: 50px
					color: #680000	
					border: 2px solid #006803
					background-color: #002e5c55		
	.result
		font-weight: bold
		
.block_papa
	.block
		margin: 10px
		width: 100px
		height: 50px
		background-color: #ff0000
		transition: 0.5s
		&:hover
			width: 200px
			height: 200px
			background-color: #3700ff
			border-radius: 40%
		&:nth-child(2)
			&:hover
				width: 200px
				height: 200px
				background-color: #cbbdff
				border-radius: 40%
				&::before
					content: "kikel ofjeio ofoe iohfwf ionwfd "
					font-size: 20px
					text-align: center
		&:nth-child(3)
			&:hover
				width: 200px
				height: 200px
				background-color: #00fa3e
				border-radius: 40%
				&::before
					content: "kikel ofjeio ofoe iohfwf ionwfd "
					font-size: 20px
					text-align: center

		
		
	
